.corpoMain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.corpoSecond {
  display: flex;
  align-items: center;
  justify-content: center;
}

.entNum {
  position: absolute;
  text-align: center;
  width: 2vw;
  left: 20rem;
  top: 14rem;

}
.cna{
  position: absolute;
  left: 20rem;
  
}

.foto{
  width: 30vw;
  height: 30vh;
}

.fila{
  display: flex;
  align-items: center;
  justify-content: center;
}

.um{
  margin-right: 2.5rem;
}

.dois{
  margin-left: 2.5rem;
}

